// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

// *{
//   border: 0.25px solid red;
// }

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444;
  margin-bottom: 60px;
}

a {
  color: #444;
}

a:hover {
  // color: #9eccf4;
  text-decoration: none;
}

tbody a {
  display: block;
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/

.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-bottom: 1px solid #e8e8e8;
  // margin-bottom: 40px;
  margin-top: 0px;
}

/*--------------------------------------------------------------
# banner
--------------------------------------------------------------*/

.swiper-container {
  margin-bottom: 60px;
}

.swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-slide h2 {
  position: absolute;
  bottom: 40px;
  right: 80px;
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    // margin-top:  60px;
    background-color: rgb(58, 58, 58);
  
    .container {
      padding-right: 15px;
      padding-left: 15px;
  
      p {
        margin: 19px 0;
        color: #c1c1c1;
  
        a {
          color: inherit;
        }
      }
    }
}
  
/*--------------------------------------------------------------
# User register page
--------------------------------------------------------------*/

.register-page {
    img.captcha {
      cursor: pointer;
      border: 1px solid #ced4da;
      border-radius: 4px;
      padding: 3px;
    }
}
  
