// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;700&family=Roboto:wght@100;700&display=swap');
// 
$lightbrown: rgb(190, 128, 64);
$lightgray: rgb(35,35,35);
$link-light-grey: #6c757d;
$primary-orange: #fec503;
$footer-background-light-grey: #212529;
$footer-background-grey: #1a1d20;
$social-buttons-circle-dark-grey: #1a1d20;

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

// *{
//   border: 0.25px solid red;
// }

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Roboto, 'Noto Sans TC';
  letter-spacing: 0.25px;
  background: rgb(247,247,247);
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

tbody a {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  border:0;
  background:0;
  cursor:pointer;
}

ul {
  list-style:none;
  padding:0;
  margin:0;
}

p {
  font-size: 16px;
  text-align: justify;
}

/*--------------------------------------------------------------
# banner
--------------------------------------------------------------*/

#swiper1 {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  background-position: top center;
  background-size: cover;
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.swiper-container {
  margin-bottom: 60px;
}

.swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

footer a {
  color: $link-light-grey;
}

footer a:hover {
  color: $primary-orange;
  text-decoration: none;
}

footer::selection {
  background: $primary-orange;
  text-shadow: none;
}

footer {
  padding: 2rem 0;
  background-color: #212529;
}

.footer-column:not(:first-child) {
    padding-top: 2rem;
    @media (min-width: 768px) {
      padding-top: 0rem;
    }
  }

.footer-column {
  text-align: center;
  .nav-item {
    .nav-link {
      padding: 0.1rem 0;
    }
    span.nav-link {
      color: $link-light-grey;
    }
    span.footer-title {
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: bolder;
      color: #fff;
      text-transform: uppercase;
    }
    .fas {
      margin-right: 0.5rem;
    }
  }
  ul {
    display: inline-block;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: $primary-orange;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: $footer-background-grey;
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
}

.copyright {
  color: white;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}

/*--------------------------------------------------------------
# Header & Menu
--------------------------------------------------------------*/

header {
  nav {
    padding:15px 35px;
    display:flex;
    position:relative;
    h2 {
      margin-bottom:0;
      flex:1;
      letter-spacing:3px;
      #logo {
        color:#000;
        text-transform:uppercase;
      }
    }
    .nav-button {
      color: #000;
      font-size:23px;
    }
    div {
      background:rgba(0,0,0,.9);
      position:fixed;
      right:0;
      left:0;
      top:0;
      bottom:0;
      z-index:999;
      text-align:center;
      transform:scale(0);
      opacity:0;
      transition:opacity .2s;
      ul {
        position:relative;
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        .exit-menu {
          position:absolute;
          top:15px;
          right:15px;
          color:lightgray;
          font-size:20px;
          padding:10px;
        }
        li {
          text-transform:uppercase;
          a {
            display:block;
            font-size: 21px;
            color:lightgray;
            padding:15px 5px;
            transition: all .4s;
            &:hover, .active:hover {
              color: $lightbrown;
              border-bottom-color: $lightbrown;
            }
          }
        }
      }
    }
  }

nav div.show {
  transform:scale(1);
  opacity:1;
}

.menu {
  padding:30px;
  &-images {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:10px;
    img {
      width:100%;
    }
  }
}

@media(min-width:769px) {
  nav {
    position:initial !important;
    align-items:baseline;
    padding: 20px 70px !important;
    .nav-button {
      display:none;
    }
    div {
      position:initial !important;
      background:none !important;
      opacity:initial !important;
      transform:initial !important;
      ul {
        position:initial !important;
        flex-direction:row !important;
        .exit-menu {
          display:none;
          color:#000 !important;
        }
        li a{
          font-size: 16px;
          margin:0 20px;
          letter-spacing:3px;
          padding:5px 0 !important;
          color:#000 !important;
          transition: all .4s;
          &:hover, .active:hover {
            color: $lightbrown !important;
            border-bottom-color: $lightbrown !important;
          }
        }
        .active {
            border-bottom:solid 1px $lightbrown !important;
          }
      }
    }
  }
  .menu {
    &-images {
      flex:1;
    }
    div:last-child {
      flex:1;
    }
  }
}
}

/*--------------------------------------------------------------
# route/show/id 
--------------------------------------------------------------*/

.page-func-blk {
  flex-flow: row nowrap;
}

.page-func-blk .btn-page-direction {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: calc(100% / 3);
  height: 45px;
  color: #000;
  box-shadow: 1px 0 0 0 #e2e2e2, 0 1px 0 0 #e2e2e2, 1px 1px 0 0 #e2e2e2, 1px 0 0 0 #e2e2e2 inset, 0 1px 0 0 #e2e2e2 inset;
  font-size: 1em;
  line-height: 1.5em;
}

.page-func-blk .btn-page-direction:hover {
    text-decoration: none;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color:#fff;
}

/*--------------------------------------------------------------
# 防止編輯器圖片超過
--------------------------------------------------------------*/

.ckeditor img {
  max-width:100%;
}

/*--------------------------------------------------------------
# 右下角Icon
--------------------------------------------------------------*/
.right-bottom {
  position: fixed;
  right: 20px;
  bottom: 25px;
  z-index: 99999;
  opacity: 0
}

.show {
  opacity: 1;
  transition: .5s;
}

.right-bottom i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background: #5a5a5a;
  color: #fff;
  transition: all 0.4s;
}

.right-bottom i:hover {
  background: #111111;
  color: #fff;
}

.right-bottom-line {
  position: fixed;
  right: 20px;
  bottom: 75px;
  z-index: 99999;
}

.right-bottom-line i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background: #3AB800;
  color: #fff;
  transition: all 0.4s;
}

.right-bottom-line i:hover {
  background: #00805d;
  color: #fff;
}

.right-bottom-tel {
  position: fixed;
  right: 20px;
  bottom: 125px;
  z-index: 99999;
}

.right-bottom-tel i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background: #d64949;
  color: #fff;
  transition: all 0.4s;
}

.right-bottom-tel i:hover {
  background: #c20909;
  color: #fff;
}
/*--------------------------------------------------------------
# 首頁圖片加上疊圖播放 Icon & 燈箱
--------------------------------------------------------------*/

.video-thumbnail {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:before {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f144";
    font-family: 'Font Awesome 5 Free';
    font-size: 100px;
    color: #fff;
    opacity: .8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
  &:hover:before {
    color: #eee;
  }
}


.YouTubePopUp-Wrap{
  position:fixed;
  width:100%;
  height:100%;
  min-width: 300px;
  background-color:#000;
  background-color:rgba(0,0,0,0.8);
  top:0;
  left:0;
  opacity: 0;
  z-index:9999;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: YouTubePopUp;
  animation-name: YouTubePopUp;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

@-webkit-keyframes YouTubePopUp {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes YouTubePopUp {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

body.logged-in .YouTubePopUp-Wrap{ /* For WordPress */
  top:32px;
  z-index:99998;
}

.YouTubePopUp-Content{
  width:680px;
  margin:0 auto;
  position:relative;
}

.YouTubePopUp-Content:after {
padding-top: 56.25%;
/* 16:9 ratio */
display: block;
content: '';
}

.YouTubePopUp-Content iframe{
  max-width:100% !important;
  width:100% !important;
  display:block !important;
  height:100% !important;
  border:none !important;
  position:absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.35);
}

.YouTubePopUp-Hide{
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: YouTubePopUpHide;
  animation-name: YouTubePopUpHide;
}

@-webkit-keyframes YouTubePopUpHide {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

@keyframes YouTubePopUpHide {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

.YouTubePopUp-Close{
  position:relative;
  display: inline-block;
  cursor: pointer;

  &:after{
    position:absolute;
    top: -65px;
    right: -30px;
    z-index: 999 !important;
    content: "\f057";
    font-family: 'Font Awesome 5 Free';
    font-size: 30px;
    color: #fff;
    opacity: .8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
}

@media all and (max-width: 800px){
  .YouTubePopUp-Content{
      max-width: 90%;
  }
}

/*--------------------------------------------------------------
# 服務項目
--------------------------------------------------------------*/

#services{
  padding: 60px 0px;
  overflow: hidden;
}

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0.25rem 0.5rem rgb(42 42 42 / 5%);
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
}

.services .icon {
  position: absolute;
  left: -10px;
  top: calc(50% - 30px);
}

.services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

.services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

/*--------------------------------------------------------------
# Slider 過場
--------------------------------------------------------------*/

// .swiper-slide::before {
// 	position: absolute;
// 	content:"";
// 	width: 50%;
// 	height: 100%;
// 	top: 0;
// 	left: -75%;
// 	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
// 	transform: skewX(-25deg);
//   display: none;
// }

// .swiper-wrapper .swiper-slide:hover::before {
// 	animation: anm 0.7s;
//   display: block;
// }

// @keyframes anm {
// 	100% {
// 		left: 125%;
// 	}
// }

/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/

// .card-body{
//   border-radius: 25px;
//   transition: all 1s linear;
//   cursor: pointer;
// }

// .card:hover {
//   transform: translateY(-25px);
//   transition: all .5s linear;
// }

/*--------------------------------------------------------------
# 加載頁面
--------------------------------------------------------------*/

.loader_bg {
  position: fixed;
  z-index: 99999;
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  width: 100%;
  height: 100%
}

.loader{
  // border:0 solid transparent;
  // border-radius: 50%;
  width:150px;
  height:150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw  - 75px);
}

