// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Font
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Overpass+Mono:600,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

// 
$OverpassMonoFont: 'Overpass Mono', monospace;
$PTSansFont: 'PT Sans', sans-serif;
$AlexBrushFont: 'Alex Brush', cursive;
$lightbrown: rgb(190, 128, 64);
$lightgray: rgb(35,35,35);

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

// *{
//   border: 0.25px solid red;
// }

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444;
  margin-bottom: 60px;
}

a {
  color: #444;
}

a:hover {
  // color: #9eccf4;
  text-decoration: none;
}

tbody a {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  border:0;
  background:0;
  cursor:pointer;
}

ul {
  list-style:none;
  padding:0;
  margin:0;
}

.container {
  margin-bottom: 120px;;
}

p {
  font-size: 16px;
}

/*--------------------------------------------------------------
# banner
--------------------------------------------------------------*/

#swiper1 {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  background-position: top center;
  background-size: cover;
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.swiper-container {
  margin-bottom: 60px;
}

.swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    // margin-top:  60px;
    background-color: rgb(58, 58, 58);
  
    .container {
      padding-right: 15px;
      padding-left: 15px;
  
      p {
        margin: 19px 0;
        color: #888;
  
        a {
          color: inherit;
        }
      }
    }
}
  
/*--------------------------------------------------------------
# User register page
--------------------------------------------------------------*/

.register-page {
    img.captcha {
      cursor: pointer;
      border: 1px solid #ced4da;
      border-radius: 4px;
      padding: 3px;
    }
}

/*--------------------------------------------------------------
# Header & Menu
--------------------------------------------------------------*/

header {
  nav {
    padding:15px 35px;
    display:flex;
    position:relative;
    h2 {
      margin-bottom:0;
      flex:1;
      letter-spacing:3px;
      font-family: $OverpassMonoFont !important;
      #logo {
        color:#000;
        text-transform:uppercase;
      }
    }
    .nav-button {
      color: #000;
      font-size:23px;
    }
    div {
      background:rgba(0,0,0,.9);
      position:fixed;
      right:0;
      left:0;
      top:0;
      bottom:0;
      z-index:999;
      text-align:center;
      transform:scale(0);
      opacity:0;
      transition:opacity .2s;
      ul {
        position:relative;
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        .exit-menu {
          position:absolute;
          top:15px;
          right:15px;
          color:lightgray;
          font-size:20px;
          padding:10px;
        }
        li {
          font-family: $PTSansFont !important;
          text-transform:uppercase;
          a {
            display:block;
            font-size: 21px;
            color:lightgray;
            padding:15px 5px;
            transition: all .4s;
            &:hover, .active:hover {
              color: $lightbrown;
              border-bottom-color: $lightbrown;
            }
          }
        }
      }
    }
  }

nav div.show {
  transform:scale(1);
  opacity:1;
}

.menu {
  padding:30px;
  &-images {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:10px;
    img {
      width:100%;
    }
  }
}

@media(min-width:769px) {
  nav {
    position:initial !important;
    align-items:baseline;
    padding: 20px 70px !important;
    .nav-button {
      display:none;
    }
    div {
      position:initial !important;
      background:none !important;
      opacity:initial !important;
      transform:initial !important;
      ul {
        position:initial !important;
        flex-direction:row !important;
        .exit-menu {
          display:none;
          color:#000 !important;
        }
        li a{
          font-size: 16px;
          margin:0 20px;
          letter-spacing:3px;
          padding:5px 0 !important;
          color:#000 !important;
          transition: all .4s;
          &:hover, .active:hover {
            color: $lightbrown !important;
            border-bottom-color: $lightbrown !important;
          }
        }
        .active {
            border-bottom:solid 1px $lightbrown !important;
          }
      }
    }
  }
  .menu {
    &-images {
      flex:1;
    }
    div:last-child {
      flex:1;
    }
  }
}
}
  